// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
  border: solid 1px #CCC;
  padding: 10px 10px;
  width:600px;
  margin-right: auto;
  margin-left: auto;
}

.photo .name {
  padding-top: 1em;
  text-align: center;
  font-weight: bold;
}

.photo .like {
  text-align: right;
  padding-top: 0.5em;
  color: #777;
}
